.link_to_inicio {
    text-align: center;
    display: block;
    font-size: 24px;
    margin-top: 10px;
    color: #28A745;
}

.register_title {
    color: #343A40;
    text-align: center;
}

.register_form {
    background-color:  #F8F9FA;
    padding: 10px;
    border-radius: 0.337rem;
}

.register_buton {
    background-color: #007BFF;
    color: #343A40;
    font-size: 24px;
    padding: 4px;
}

.link_to_login {
    width: 90%;
    margin: auto;
    font-size: 20px;
}

.link_to_login a {
    color: #28A745;
}