/* 

.form_comentario label {
    margin: auto;
    width: 90%;
    font-size: 20px;

}

.textarea_coment {
    width: 90%;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    margin: auto;
    height: 250px;
    font-size: 20px;
}
  

.enviar_coment {
    width: 90%;
    margin: auto;
    background-color: #007BFF;
    color: #343A40;
    border: 1px solid black;
} */