body {
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 50px auto;
    gap: 10px;
}

button {
    background-color: #009ee3;
    border: none;
    color: white;
    padding: 10px;
    border-radius: .375em;
    cursor: pointer;
}

input {
    padding: 10px;
    border-radius: .375em;
    border: solid 1px;
}

select {
    padding: 10px;
    text-align: center;
}

.section_info {
    background-color: #afe2ff;
    width: 90%;
    margin: auto;
    padding: 10px 0;
    color: rgb(0, 0, 0);
    border-radius: 6px;
}

.nombre_locacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nombre_locacion button {
    height: 50px;
}

.nombre_locacion h3 {
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    
}

span {
    color: red;
}

@media (min-width: 768px) {
    body {
        width: 50%;
        margin: auto;
    }
}